{% extends '_layout.njk' %}

{% block pageTitle %}{{ serviceName }}{% endblock %}

{% block content %}

<h1 class="govuk-heading-m"><a class="govuk-link" href="/create-payment">Create payment</a></h1>
<h1 class="govuk-heading-m"><a class="govuk-link" href="/view-payments">View payments</a></h1>

{% endblock %}