{% extends '_layout.njk' %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% block pageTitle %}{{ serviceName }}{% endblock %}

{% block content %}

<dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
        Reference
        </dt>
        <dd class="govuk-summary-list__value">
        {{ payment.reference }}
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
        Description
        </dt>
        <dd class="govuk-summary-list__value">
        {{ payment.description }}
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
        Cardholder
        </dt>
        <dd class="govuk-summary-list__value">
        {{ payment.card_details.cardholder_name }}
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
        Amount
        </dt>
        <dd class="govuk-summary-list__value">
        £{{ payment.amount }}
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
        Status
        </dt>
        <dd class="govuk-summary-list__value">
        {{ payment.state.status | upper }}
        </dd>
    </div>
</dl>

<table class="govuk-table">
    <caption class="govuk-table__caption govuk-table__caption--m">Dates and amounts</caption>
    <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Updated</th>
            <th scope="col" class="govuk-table__header">State</th>
        </tr>
    </thead>
    <tbody class="govuk-table__body">
        {% for data in events %}
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">{{data.updated}}</th>
                <td class="govuk-table__cell"><div class="govuk-tag app-task-list__tag {{ 'govuk-tag--blue' if data.state.status === 'started'}} {{ 'govuk-tag--green' if data.state.status === 'success'}} ">{{data.state.status}}</div></td>
            </tr>
        {% endfor %}
    </tbody>
</table>


<form method="post" action="/payment-detail/cancel/{{payment.payment_id}}">
    {{ govukButton({
    text: "Cancel payment",
    classes: "govuk-button--warning"
    }) }}
</form>

{% endblock %}
