{% extends '_layout.njk' %}

{% block pageTitle %}{{ serviceName }}{% endblock %}

{% block content %}

<table class="govuk-table">
    <caption class="govuk-table__caption govuk-table__caption--m">Dates and amounts</caption>
    <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Reference</th>
            <th scope="col" class="govuk-table__header">Description</th>
            <th scope="col" class="govuk-table__header">Cardholder</th>
            <th scope="col" class="govuk-table__header">Amount</th>
            <th scope="col" class="govuk-table__header">Status</th>
            <th scope="col" class="govuk-table__header"></th>
        </tr>
    </thead>
    <tbody class="govuk-table__body">
        {% for data in results %}
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">{{data.reference}}</th>
            <td class="govuk-table__cell">{{data.description}}</td>
            <td class="govuk-table__cell">{{data.card_details.cardholder_name}}</td>
            <td class="govuk-table__cell">£{{data.amount}}</td>
            <td class="govuk-table__cell">{{data.state.status | upper}}</td>
            <td class="govuk-table__cell"><a class="govuk-link" href="/payment-detail/{{data.payment_id}}">View</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}