{% extends "govuk/template.njk" %}

{% block pageTitle %}{{ serviceName }} - GOV.UK{% endblock %}

{% block head %}
  <!--[if !IE 8]><!-->
  <% htmlWebpackPlugin.files.css.forEach(file => { %>
    <link href="<%= file %>" rel="stylesheet">
  <% }) %>
  <!--<![endif]-->
  {# For Internet Explorer 8, you need to compile specific stylesheet #}
  {# see https://github.com/alphagov/govuk-frontend/blob/master/docs/installation/supporting-internet-explorer-8.md #}
  <!--[if IE 8]>
    <link href="{{ assetPath }}/govuk-frontend/govuk/all-ie8.css" rel="stylesheet" />
  <![endif]-->
{% endblock %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "https://www.gov.uk/",
    containerClasses: "govuk-width-container",
    serviceName: serviceName,
    serviceUrl: serviceUrl
  }) }}
{% endblock %}

{% block footer %}

{% endblock %}

{% block bodyEnd %}
  <% htmlWebpackPlugin.files.js.forEach(file => { %>
    <script src="<%= file %>"></script>
  <% }) %>
{% endblock %}