{% extends "govuk/template.njk" %} {% block pageTitle %}{{ serviceName }} - GOV.UK{% endblock %} {% block head %}<!--[if !IE 8]><!--><link href="/assets/css/e58d5d2622fe0e648bd7.css" rel="stylesheet"><!--<![endif]--> {# For Internet Explorer 8, you need to compile specific stylesheet #} {# see https://github.com/alphagov/govuk-frontend/blob/master/docs/installation/supporting-internet-explorer-8.md #}<!--[if IE 8]>
    <link href="{{ assetPath }}/govuk-frontend/govuk/all-ie8.css" rel="stylesheet" />
  <![endif]--> {% endblock %} {% block header %} {{ govukHeader({ homepageUrl: "https://www.gov.uk/", containerClasses: "govuk-width-container", serviceName: serviceName, serviceUrl: serviceUrl }) }} {% endblock %} {% block footer %} {% endblock %} {% block bodyEnd %}<script src="/assets/js/0c7b375a5ca0e84169e5.js"></script>{% endblock %}